## Teste de conexão com banco de dados RDS

#### Instalando dependências e criando conexão

In [ ]:
!pip install mysql-connector-python

In [9]:
import mysql.connector

# Establishing the connection
conn = mysql.connector.connect(
    user='admin',
    host='127.0.0.1',
    port=8001,
    password='adminrds'
)

#### Query teste

In [10]:
# Performing some database operations
cursor = conn.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS pokemon")
cursor.execute("USE pokemon")

# Create a table pokemon
cursor.execute("CREATE TABLE IF NOT EXISTS pokemon (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), type VARCHAR(255))")
cursor.execute("INSERT INTO pokemon (name, type) VALUES (%s, %s)", ("Pikachu", "Electric"))
cursor.execute("INSERT INTO pokemon (name, type) VALUES (%s, %s)", ("Squirtle", "Water"))
cursor.execute("INSERT INTO pokemon (name, type) VALUES (%s, %s)", ("Charmander", "Fire"))
cursor.execute("INSERT INTO pokemon (name, type) VALUES (%s, %s)", ("Bulbasaur", "Grass"))
cursor.execute("SELECT * FROM pokemon")

result = cursor.fetchall()
print(result)

cursor.close()

[(1, 'Pikachu', 'Electric'), (6, 'Pikachu', 'Electric'), (7, 'Squirtle', 'Water'), (8, 'Charmander', 'Fire'), (9, 'Bulbasaur', 'Grass')]

True

#### Commit alterações e fechando conexão

In [11]:
#Commiting the changes
conn.commit()

In [12]:
conn.close()